doctype html
html(lang='en-US')
    head
        title Gallery
        meta(charset='utf-8')
        meta(name='description',content='A description of your gallery.')
        link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
        link(rel='stylesheet', href='css/style.css')

    body
        .gallery
            include images